Evidencias y código/flows.json
[
    {
        "id": "17ff73bb45047244",
        "type": "tab",
        "label": "Camello Piñata",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "101e8c10644ce874",
        "type": "mqtt out",
        "z": "17ff73bb45047244",
        "name": "",
        "topic": "camePin",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce773c8e3c9292ee",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "c7db58790a2469dd",
        "type": "inject",
        "z": "17ff73bb45047244",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "73650298c0a2f436"
            ]
        ]
    },
    {
        "id": "73650298c0a2f436",
        "type": "ui_switch",
        "z": "17ff73bb45047244",
        "name": "",
        "label": "Led",
        "tooltip": "",
        "group": "867dd81ec87ba19d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 160,
        "wires": [
            [
                "101e8c10644ce874"
            ]
        ]
    },
    {
        "id": "1f91fa1e764b5583",
        "type": "ui_switch",
        "z": "17ff73bb45047244",
        "name": "",
        "label": "Musica",
        "tooltip": "",
        "group": "95ef898731950e9b",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "3",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "4",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "809a3bdb2136e4f8"
            ]
        ]
    },
    {
        "id": "86c78f48ec017c38",
        "type": "inject",
        "z": "17ff73bb45047244",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "1f91fa1e764b5583"
            ]
        ]
    },
    {
        "id": "809a3bdb2136e4f8",
        "type": "mqtt out",
        "z": "17ff73bb45047244",
        "name": "",
        "topic": "camePin",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ce773c8e3c9292ee",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "ce773c8e3c9292ee",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.100:1880",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "867dd81ec87ba19d",
        "type": "ui_group",
        "name": "LED",
        "tab": "11044b0d6b80bbb9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95ef898731950e9b",
        "type": "ui_group",
        "name": "MUSICA",
        "tab": "11044b0d6b80bbb9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "11044b0d6b80bbb9",
        "type": "ui_tab",
        "name": "Camello Piñata",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]